<!-- footer starts -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget1">

                </div>

                <div class="col-md-4 footer-widget2">
                    <h3>Contact Information</h3>
                    <span>153 panam Street, New York gulistan 420 </span>
                    <br>
                    <span>United States</span>
                    <br>
                    <span>mail@medihere.com</span>
                    <br>
                    <span>+52890588934</span>


                </div>

                
            </div>
        </div>
    </div>
    <div id="back-top">
        <a class="back-top" href="#banner"><i class="fa fa-angle-up"></i></a>
    </div>
    <div class="footer-bottom text-center">
        <p>Copyright &copy; 2016 <a href="http://mostafiz.me">Mostafiz</a> . All rights Reserved</p>
    </div>
</footer>
<!-- footer ends here -->
